<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .impClass {
            font-weight: bold;
        }
        .yelClass {
            background-color: #cc4;
        }
    </style>
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <div id="app">
        <input type="range" v-model="opacityVal">
        <div v-bind:style="{ backgroundColor: 'rgba(155,20,20,'+(opacityVal/100)+')' }">
            Drag the range input above to change opacity here.
        </div>
        {{opacityVal}}
        <div v-bind:class="[{ impClass: isImportant }, 'yelClass' ]">
            This div tag belongs to one or two classes depending on the isImportant property.
        </div>
        <input type="checkbox" v-model="isImportant">
    </div>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    opacityVal: 0,
                    isImportant: false
                }
            },
            methods: {
                
            }
        });
        app.mount("#app");
    </script>
</body>
</html>