<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box {
            width: 400px;
            height: 400px;
            background-color: #007f7f
        }
        .invalid {
            color: #c00
        }
        .valid {
            color: #0c0
        }
    </style>
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <div id="app">
        <input type="range" v-model="rangeVal">
        <p>{{ rangeVal }}</p>
        <div class="box" v-on:click="updatePos"></div>
        <p>{{ xDiff }}</p>
        <input v-type="email" v-model="inpAddress">
        <p v-bind:class="myClass">{{ feedbackText }}</p>
    </div>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    rangeVal: 0,
                    xPos: 0,
                    xDiff: 0,
                    inpAddress: '',
                    feedbackText: '',
                    myClass: 'invalid' 
                }
            },
            computed: {
                
            },
            watch: {
                rangeVal(val){
                    if( val>20 && val<60) {
                        if(val<40){
                            this.rangeVal = 20;
                        }
                        else {
                            this.rangeVal = 60;
                        }
                    }
                },
                xPos(newVal, oldVal){
                    this.xDiff = newVal-oldVal;
                },
                inpAddress(newVal,oldVal) {
                    if( !newVal.includes('@') ) {
                        this.feedbackText = 'The e-mail address is NOT valid';
                        this.myClass = 'invalid';
                    }
                    else if( !oldVal.includes('@') && newVal.includes('@') ) {
                        this.feedbackText = 'Perfect! You fixed it!';
                        this.myClass = 'valid';
                    }
                    else {
                        this.feedbackText = 'The e-mail address is valid :)';
                    }
                } 
            },
            methods: {
                updatePos(event) {
                    this.xPos = event.offsetX;
                }
            }
        });
        app.mount("#app");
    </script>
</body>
</html>