#app {
  margin: 0 auto;
  padding: 2rem;
}

@media (max-width: 1023px) {
  #app {
    
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }

  #app {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 0 2rem;
  }
}