body {
  min-height: 100vh;
  min-width: 100vw;
  color: var(--color-text);
  background: var(--color-background);
  background-color: #323232;
  color: #dddddd;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, a.visited {
  transition:
    color 0.2s;
  color: #bbbbbb;
}

a:hover, a.visited:hover {
  transition:
    color 0.2s;
  color: #c00;
}