div.message {
    margin: 10px;
    border-radius: 4px;
    border: none;
    background-color: #282828;
    padding: 10px;
    display: grid;
    grid-template-columns: 60px 1fr 60px;
}

div.emoji_picker_dialog {
    max-height: 400px;
    max-width: 300px;
}

div.messages {
    max-height: calc(100vh - 58px - 100px);
}

div.message_wrapper {
    display: grid;
    grid-template-columns: 1fr 60px;
}

div.message_options_wrapper {
    display: flex;
    margin: auto;
}

img.message__icon {
    width: 40px;
    height: 40px;
}

div.message_box_wrapper {
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding:0px 20px;
    display: grid;
    grid-template-columns: 1fr 58px;
}

@media (max-width: 1199px) {
    div.message_box_wrapper {
        left: 0px;
        width: 100vw;
    }
}

@media (min-width: 1200px) {
    div.message_box_wrapper {
        left: 20vw;
        width: 80vw;
    }
}

div.send_button_wrapper {
    padding: 5px;
}