nav.navigation {
    vertical-align: top;
    text-align: left;
    max-height: 100vh;
    overflow: none;
}

@media (max-width: 1199px) {
    nav.navigation {
        width: 100vw;
        position: fixed;
    }
}

@media (min-width: 1200px) {
    nav.navigation {
        max-width: 20vw;
    }
}

div.navigation__header__item {
    vertical-align: center;
    padding: 5px;
}

div.navigation__header {
    vertical-align: center;
    position: fixed;
    background-color: #222222;
    display: flex;
    z-index: 1;
    max-height: 58px;
}

@media (max-width: 1199px) {
    div.navigation__header__grid {
        display: grid;
        grid-template-columns: 58px 58px 1fr;
    }

    div.navigation__header {
        width: 100vw;
    }
}

@media (min-width: 1200px) {
    div.navigation__header {
        width: 20vw;
    }

    div.navigation__header__grid {
        display: grid;
        grid-template-columns: 58px 1fr;
    }
}

.logo {
    width: 48px;
    height: 48px;
}

div.navigation__threads__wrapper {
    margin: 58px 0;
}

div.navigation__threads {
    background-color: #282828;
}

button.navigation__thread {
    display: flex;
    background-color: #111111;
    margin: 5px;
    padding: 5px;
    align-items: start;
    border-radius: 4px;
    border: none;
    transition:
     background-color 0.1s;
     text-wrap: nowrap;
     overflow: hidden;
}

button.navigation__thread:hover {
    background-color: #484848;
    transition:
     background-color 0.1s;
}

button.navigation__thread.active_thread {
    background-color: #007f7f;
    transition:
     background-color 0.1s;
}

button.navigation__thread.notification_thread {
    color: #c00;
    font-style: italic;
}

span.navigation__thread__options {
    margin: auto 0;
}

.logo__thread {
    margin: 0 5px 0 0;
}

img.logo__thread {
    width: 48px;
}

div.navigation__thread {
    display: grid;
    grid-template-columns: 1fr 4fr;
    vertical-align: center;
}

span.navigation__item {
    text-align: left;
    vertical-align: center;
}