nav.navigation {
    vertical-align: top;
    text-align: center;
}

@media (max-width: 1023px) {
    nav.navigation {
        width: 100vw;
        position: fixed;
    }
    .hidden {
        visibility: hidden;
    }
}

@media (min-width: 1024px) {
    nav.navigation {
        max-width: 20vw;
    }
}